
	<div class="modal-dialog">
	  	<div class="modal-content">
	        <div class="modal-header">
	          	<h4 class="modal-title" id="new-task-label">New Task</h4>
	        </div>
	        <div class="modal-body">
	        	<%= form_for @task, :remote => true, :html=> {:id => 'task-form'} do |f| %>

	        		<div class="task-step main-step" id="step-1">

		        		<div class="center-wrap">
			        		<div class="detail-wrap name-wrap">
			        			<text class="form-label">
				        			<%= f.label :name_label, "What would you like to name this task: " %>
				        		</text>
				        		<text class="form-field">
				        			<%= f.text_field :name %>
				        		</text>
				        	</div>

			        		<br />
			        		<br />

			        		<div class="detail-wrap">
			        			<text class="form-label">
				        			<%= f.label :period_label, "Do you want to set a time period for this task: " %>
				        		</text>
				        		<br />
				        		<text class="detail-text"> A time period is a set amount of time you have to complete a task</text>
				        		
				        		<br />

					        	<text class="form-field">
					        		<%= f.label :period_true_label, "Yes" %>
					        		<%= f.radio_button :has_period, true, :onclick => "time_period_click(true)", id: 'period-true' %>
					        		<%= f.label :period_false_label, "No" %>
					        		<%= f.radio_button :has_period, false, :onclick => "time_period_click(false)", id: 'period-false' %>
					        	</text>
				        	</div>

		        			<br />
		        			<br />

		        			<div class="detail-wrap">
		        				<text class="form-label">
		        					<%= f.label :goal_label, "Would you like to set a goal for this task: " %>
		        				</text>
		        				<br />
		        				<text class="detail-text"> A goal is a set amount of time you'd like to spend on a task</text>

		        				<br />

		        				<text class="form-field">
		        					<%= f.radio_button :has_goal, true, :onclick => "time_goal_click(true)", id: 'goal-true' %>
					        		<%= f.label :has_goal_true, "Yes" %>
					        		<%= f.radio_button :has_goal, false, :onclick => "time_goal_click(false)", id: 'goal-true' %>
					        		<%= f.label :has_goal_false, "No" %>
					        	</text>

		        			</div>

		        			<br />
		        			<br />

		        			<div class="detail-wrap">
		        				<text class="form-label">
		        					<%= f.label :description_label, "Description (optional)" %>
		        				</text>
		        				<br />
		        				<span class="form-field">
		        					 <%= f.text_area :description, size: "45x2" %> 
		        				</span>
		        			</div> 

		        				

		        		</div> <!-- Center Wrap -->

		        	</div><!-- End Step 1 -->

		        	<div class="task-step period-step hidden" id="step-2">
		        		<div class="center-wrap">
		        			<%= f.label :period_field_label, "How long do you have to complete this task? " %>
		        			<br />

							<span class="form-field">
			          			Days: <%= f.number_field :period_days, :value => 0, min: 0, id: "period-days", class: "period-input-text" %>  
			          			Hours: <%= f.number_field :period_hours, :value => 0, min: 0, max: 23, id: "period-hours", class: "period-input-text" %> 
			          			Minutes: <%= f.number_field :period_mins, :value => 0, min: 0, max: 59, id: "period-mins", class: "period-input-text" %>
			          		</span> 
			          		<br />

			          		<%= f.label :recurring_label, "Is this a recurring task? " %>
			          		<br />
			          		<text class="detail-text">A recurring task will reset and repeat at the end of the time period</text>
			          		<br />
			          		<span class="form-field"><%= f.check_box :recurring %> </span>


		        		</div><!-- Center Wrap -->
		        	</div><!-- End Step 2 -->

		        	<div class="task-step goal-step hidden" id="step-3">
		        		<div class="center-wrap">
		        			<%= f.label :goal_field_label, "How much time do you aim to spend on this task? " %>
		        			<br />

		        			<span class="form-field"> 
			          			Hours: <%= f.number_field :goal_hours, :value => 0, min: 0, id: "goal-hours", class: "goal-input-text" %> 
			          			Minutes: <%= f.number_field :goal_mins, :value => 0, min: 0, max: 59, id: "goal-mins", class: "goal-input-text" %>
			          		</span> 

		        		</div><!-- Center Wrap -->
		        	</div><!-- End Step 3 -->



	        	<% end %><!-- End form_for -->
	        </div> <!-- Modal Body -->
	        <div class="modal-footer">
	          	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	          	<button type="button" class="btn btn-success" id="submit-task"> Submit </button>
	        </div>
	    </div>
	</div>