<head>

<%= stylesheet_link_tag    "home", :media => "all" %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css" rel="stylesheet">
	<% if user_signed_in? %>
		<%  @cur_user.tasks.each do |task| %>

			.meter-bar-<%= task.id %> {
				background-color: #2a2;
				width: <%= task_percentage(task) %>%;
				max-width: 100%;
				border-radius: 3px;
			}

			.percent-bar-<%= task.id %> {
				width: <%= task_percentage(task) %>%;
				max-width: 100%;
			}
			

		<% end %>

	<% end %>
</style>

	
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Task-Time
                    </a>
                </li>
                <br />
                <br />
                <% if @tasks %>
                    <% @tasks.each do |task| %>
                        <li class="task-bar task-bar-<%= task.id %>">
                            <a href="/tasks/<%= task.id %>">
                                <div class="task-link-wrap">
                                    
                                    <div class="task-meter task-meter-<%= task.id %>"></div>
                                    <p class="task-ending-in task-property"> Ending in: <%= ending(task) %></span>

                                    <p class="task-name task-property"><%= task.name %></p>

                                    <div class="time-togo-div">
                                        <p class="task-togo-text"> <%= time_togo(task) %> </p>
                                        <p class="togo-text">To go</p>
                                    </div>

                                </div
                            </a>
                            
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>