<head>

<%= stylesheet_link_tag    "new-task-modal", :media => "all" %>
<%= stylesheet_link_tag		"task_list_style", :media => "all" %>
<%= stylesheet_link_tag		"new_task_style", :media => "all" %>
<%= stylesheet_link_tag "bootstrap-combined.min", :media => "all" %>
<%= stylesheet_link_tag "bootstrap-datetimepicker.min", :media => "all" %>

<%= javascript_include_tag "bootstrap-datetimepicker.min" %>

<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab" rel="stylesheet">

<% @task = Task.new %>
<!--
<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>

    <%= stylesheet_link_tag    "home", :media => "all" %>
<%= stylesheet_link_tag		"task_list_style", :media => "all" %>
<%= stylesheet_link_tag		"new_task_style", :media => "all" %>

-->
<style type="text/css" rel="stylesheet">

	<% if user_signed_in? %>
		<%  @cur_user.tasks.each do |task| %>
			<% if (task.goal == 0) %>

				.meter-bar-<%= task.id %> {
					display: none;
				}

				.percent-bar-<%= task.id %> {
					background-color: #cfcfcf;
					width: 100%;
				}

				.percent-text-<%= task.id %> {
					display: none;
				}

			<% else %>

				.meter-bar-<%= task.id %> {
					background-color: #2a2;
					width: <%= task_percentage(task) %>%;
					max-width: 100%;
					border-radius: 3px;
				}

				.percent-bar-<%= task.id %> {
					width: <%= task_percentage(task) %>%;
					max-width: 100%;
				}

				.percent-front-<%= task.id %> {
					width: <%= task_percentage(task) %>%;
				}
			<% end %>

		<% end %>

	<% end %>
</style>
 
	
</head>
<body>

<header>
	<div class="container-fixed">
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<div class="left-head">
				<H1>Welcome to Task-Time!</H1>
				<h3>Task-Time is a free task and time management app. My goal was to create a simple, intuitive, and easy to use app that helps users keep track of tasks they need to complete as well as managing and tracking their time to help keep them productive and accountable for their time. If you have any comments or suggestions about the app,
				including bugs, new feature requests or ideas, constructive criticism, or anything else, shoot an email to MNowicki091@gmail.com</h3>
			</div>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-5">
			<div class="right-head">
			<% if @cur_user != nil %>
				<div class="create-task-div">
					<h1>Create New Task</h1>

					<%= form_for @task, remote: true, :url=>'javascript:;', html: {class: "new-task-form"}, data: {user_id: @cur_user.id} do |f| %>
						<%= f.label "Task Name" %>
						<%= f.text_field :name, size: "36", data: {user_id: @cur_user.id} %>
						<br />
						<%= f.label "Task Description" %>
						<%= f.text_area :description, cols: "35", rows: "4" %>
						<br />


						<div class="create-task-timing-div">
							<%= f.label "Timed", class: "timed-label" do %>
								<span id="is-timed-span">Timed?: </span> <%= f.check_box :timed, onclick: "timed_clicked()" %>
							<% end %>
							<br />
							<%= f.label "Goal", class: "goal-label" do %>
								<span id="has-goal-span">Goal?: </span> <%= f.check_box :has_goal, onclick: "goal_clicked()" %>
							<% end %>
							<br />
							<div class="create-task-goal-div">
									<div class="time-inputs">
										Hours: <%= f.text_field :hours, size: "4" %> 
										Minutes <%= f.text_field :minutes, size: "4" %>
									</div>
							</div>
							<%= f.label "due_date", class: "due-date-label" do %>
								<span id="has-due-date-span">Due Date?: </span> <%= f.check_box :has_due_date, onclick: "due_date_clicked()" %>
							<% end %>

							
							<div id="datetimepicker" class="input-append">
							    <input id="date-field" data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
							    <span class="add-on" id="datebtn-back">
							      	<i data-time-icon="icon-time" data-date-icon="icon-calendar">
							     	</i>
							    </span>
							</div>
							<script type="text/javascript">
							  	$(function() {
							    	$('#datetimepicker').datetimepicker({
							      		maskInput: true,
							      		language: 'en',
							      		pick12HourFormat: true,
							      		inline: true,
							      		sideBySide: true
							    	});



							  	});


							  	$("#datetimepicker").datetimepicker("hide");
							</script>


						</div>
					<% end %>
					<button onclick="submit_new_task(<%= @cur_user.id %>)" class="new-task-submit btn btn-success">Create Task</button>
			<% end %>

						
				</div>
			</div>

	</div>
</div>
</header>

<content>
<% if @cur_user %>

	<div class="modal fade" id="session-modal" data-backdrop="static" data-keyboard="false">

		<div class="modal-dialog" role="document">
			<div class="modal-content new-session-content"> 

				<div class="modal-header">
					<h1>New Session</h1>
				</div>

				<div class="modal-body">
					<p>No Description.</p>
					<h3>Session Time:</h3>
					<h2 id="session-clock"> 00:00:00 </h2>
				</div>

				<div class="modal-footer">
					<button onclick="start_session()" class="btn btn-info start-session-btn" id="ses-start-btn">Start Session</button>
					<button onclick="pause_session()" class="stop-session-btn btn btn-warning hidden" id="ses-stop-btn">Pause Session</button>
					<button onclick="end_session()" class="close-session-btn btn btn-danger" id="ses-close-btn">End Session</button>
				</div>
			</div>
		</div>

	</div>


	<div class="tasks-partial-div">

			<div class="tasks-wrapper-div">
					<%= render partial: 'task', collection: @tasks%>
			</div>

	</div>

<% end %>
</content>

<% if @cur_user && false %>
<div class="header-div">

	<h1 class="my-tasks"><%= @cur_user.username %>'s Tasks</h1>




	<button class="btn btn-primary modal-button" data-remote="true" onclick="show_task_modal()">
    	New Task
  	</button>

  <!-- Modal -->
  	<div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog" aria-labelledby="new-task-label" aria-hidden="true">
	  
	</div>

</div>


<br>
<br>
<div id="table-partial-div">
	<%= render(:partial => "table") %>
</div>

<% end %>

</body>
