<head>

<%= stylesheet_link_tag    "new-task-modal", :media => "all" %>
<%= stylesheet_link_tag		"task_list_style", :media => "all" %>
<%= stylesheet_link_tag		"new_task_style", :media => "all" %>
<% @task = Task.new %>
<%= stylesheet_link_tag "bootstrap-combined.min", :media => "all" %>
<%= stylesheet_link_tag "bootstrap-datetimepicker.min", :media => "all" %>

<%= javascript_include_tag "bootstrap-datetimepicker.min" %>

<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab" rel="stylesheet">

<!--
<% @task = Task.new %>
<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.45/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>

    <%= stylesheet_link_tag    "home", :media => "all" %>
<%= stylesheet_link_tag		"task_list_style", :media => "all" %>
<%= stylesheet_link_tag		"new_task_style", :media => "all" %>

-->
<style type="text/css" rel="stylesheet">

	<% if user_signed_in? %>
		<%  @cur_user.tasks.each do |task| %>
			<% if (task.goal == 0) %>

				.meter-bar-<%= task.id %> {
					display: none;
				}

				.percent-bar-<%= task.id %> {
					background-color: #cfcfcf;
					width: 100%;
				}

				.percent-text-<%= task.id %> {
					display: none;
				}

			<% else %>

				.meter-bar-<%= task.id %> {
					background-color: #2a2;
					width: <%= task_percentage(task) %>%;
					max-width: 100%;
					border-radius: 3px;
				}

				.percent-bar-<%= task.id %> {
					width: <%= task_percentage(task) %>%;
					max-width: 100%;
				}

				.percent-front-<%= task.id %> {
					width: <%= task_percentage(task) %>%;
				}
			<% end %>

		<% end %>

	<% end %>
</style>
 
	
</head>
<body>

<header>

		<div class="left-head">
			<H1>Welcome to Task-Time!</H1>
			<h3>Task-Time is a free task and time management app. My goal was to create a simple, intuitive, and easy to use app that helps users keep track of tasks they need to complete as well as managing and tracking their time to help keep them productive and accountable for their time. If you have any comments or suggestions about the app,
			including bugs, new feature requests or ideas, constructive criticism, or anything else, shoot an email to MNowicki091@gmail.com</h3>
		</div>
		<div class="right-head">
			<div class="create-task-div">
				<h1>Create New Task</h1>

				<%= form_for @task, :url => url_for(:controller => 'tasks', :action => 'create'), html: {class: "new-task-form"} do |f| %>
					<%= f.label "Task Name" %>
					<%= f.text_field :name, size: "36" %>
					<br />
					<%= f.label "Task Description" %>
					<%= f.text_area :description, cols: "35", rows: "4" %>
					<br />


					<div class="create-task-timing-div">
						<%= f.label "Timed" do %>
							<span id="is-timed-span">Timed?: </span> <%= f.check_box :timed, onclick: "timed_clicked()" %>
						<% end %>
						<%= f.label "Goal" do %>
							<span id="has-goal-span">Goal?: </span> <%= f.check_box :has_goal, onclick: "goal_clicked()" %>
						<% end %>
						<div class="create-task-goal-div">
								<div class="time-inputs">
									Hours: <%= f.text_field :hours, size: "4" %> 
									Minutes <%= f.text_field :minutes, size: "4" %>
								</div>
						</div>
						<br />
						<%= f.label "due_date", class: "due-date-label" do %>
							<span id="has-due-date-span">Due Date?: </span> <%= f.check_box :has_due_date, onclick: "due_date_clicked()" %>
						<% end %>

						
						<div id="datetimepicker" class="input-append">
						    <input id="date-field" data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
						    <span class="add-on" id="datebtn-back">
						      	<i data-time-icon="icon-time" data-date-icon="icon-calendar">
						     	</i>
						    </span>
						</div>
						<script type="text/javascript">
						  	$(function() {
						    	$('#datetimepicker').datetimepicker({
						      		maskInput: true,
						      		language: 'en',
						      		pick12HourFormat: true
						    	});
						  	});
						  	$("#datetimepicker").datetimepicker("hide");
						</script>


					</div>
					<%= f.button "Submit", class: "new-task-submit btn btn-success" %>
				<% end %>
			</div>
		</div>

</header>

<content>
<% if @cur_user %>

	<div class="modal fade" id="session-modal" data-backdrop="static" data-keyboard="false">

		<div class="modal-dialog" role="document">
			<div class="modal-content new-session-content"> 

				<div class="modal-header">
					<h1>New Session</h1>
				</div>

				<div class="modal-body">
					<p>No Description.</p>
					<h3>Session Time:</h3>
					<h2 id="session-clock"> 00:00:00 </h2>
				</div>

				<div class="modal-footer">
					<button onclick="start_session()" class="btn btn-info start-session-btn" id="ses-start-btn">Start Session</button>
					<button onclick="pause_session()" class="stop-session-btn btn btn-warning hidden" id="ses-stop-btn">Pause Session</button>
					<button onclick="end_session()" class="close-session-btn btn btn-danger" id="ses-close-btn">End Session</button>
				</div>
			</div>
		</div>

	</div>


	<div class="tasks-partial-div">

			<div class="tasks-wrapper-div">

				<% @tasks.each do |task| %>
					<div class="task-div task-div-<%= task.id %>">
						<span class="task-name task-name-<%= task.id %>"><%= task.name %></span>
						<div class="task-description task-description-<%= task.id %>">
							<%= task.description %>
						</div>
						<span class="task-due task-due-<%= task.id %>"><%= format_due_date(task) %></span>


						<div class="task-timer-div task-timer-div-<%= task.id %>">

							<% if task.timed %>
								<% if task.goal > 0 %>
									<!--timed and goal, render progress meter -->
									<div class="percent-back percent-back-<%= task.id %>">
										<div class="percent-front percent-front-<%= task.id %>">

										</div>
										<span class="percentage-text percentage-text-<%= task.id %>"><%= task_percentage(task) %>%</span>
									</div>
									<div class="percentage-details percentage-details-<%= task.id %>">
										<span class="completed-detail completed-detail-<%= task.id %>">Completed: <%= format_minutes(task.completed) %> / <%= format_minutes(task.goal) %></span>
										<span class="goal-detail">Goal: <%= format_minutes(task.goal) %></span>
									</div>
								<% else %>
									<!-- timed, no goal -->
									<div class="details nogoal-details nogoal-details-<%= task.id %>">
										<span class="nogoal-elapsed-detail">Started <%= format_elapsed(Time.parse(task.start_date.to_s), Time.now) %> ago.</span>
										<span class="completed-detail completed-detail-<%= task.id %>">Completed <%= format_minutes(task.completed) %></span>
										<span class="goal-detail">Ends in <%= format_elapsed(Time.now, Time.parse(task.end_date.to_s)) %> </span>
									</div>
								<% end %>
							<% else %>
								<% if task.end_date %>
									<!-- untimed, has due date -->
									<div class="details untimed-details untimed-details-<%= task.id %>">
										<span class="time-left"><%= format_elapsed(Time.now, Time.parse(task.end_date.to_s)) %> Until Due</span>
									</div>
								<% else %>
									<!-- untimed, no due date -->
									<div class="details untimed-nodate-details untimed-nodate-details-<%= task.id %>">
										No Due Date, Untimed Task.
									</div>
								<% end %>
							<% end %>

						</div>
						
						<div class="start-date">Started On<br><%= format_date(task.start_date) %></div>

						<div class="task-buttons">
							<% if task.timed %>
								<button onclick="new_session(<%= task.id %>, '<%= task.name %>', '<%= task.description %>')" class="btn btn-success btn-sm new-session-btn" data-controls-modal="session-modal">New Session</button>
							<% end %>

							<button onclick="edit_task(<%= task.id %>, <%= task.name %>, <%= task.description %>)" class="btn btn-primary btn-sm edit-task-btn">Edit Task</button>
						</div>
					</div>
				<% end %>

			</div>

	</div>

<% end %>
</content>

<% if @cur_user && false %>
<div class="header-div">

	<h1 class="my-tasks"><%= @cur_user.username %>'s Tasks</h1>




	<button class="btn btn-primary modal-button" data-remote="true" onclick="show_task_modal()">
    	New Task
  	</button>

  <!-- Modal -->
  	<div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog" aria-labelledby="new-task-label" aria-hidden="true">
	  
	</div>

</div>


<br>
<br>
<div id="table-partial-div">
	<%= render(:partial => "table") %>
</div>

<% end %>

</body>
